


/*** 
=============================================
    Blog Style1 Area Css
=============================================
***/
.blog-style1-area {
    position: relative;
    display: block;
    background: #f3f3f4;
    padding: 120px 0 70px;
    z-index: 1;
}
.blog-style1-area.pdtop0{
    padding-top: 0;
}
.single-blog-style1{
    position: relative;
    display: block;
    margin-bottom: 50px;
}
.single-blog-style1 .img-holder{
    position: relative;
    display: block;
}
.single-blog-style1 .img-holder .inner {
    position: relative;
    display: block;
    overflow: hidden;
}
.single-blog-style1 .img-holder img{
    width: 100%;
    filter: grayscale(100%);
}
.single-blog-style1:hover .img-holder img {
    transform: scale(1.2) rotate(1deg);
    filter: grayscale(0%);
}

.single-blog-style1 .img-holder .shape {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 0;
    transition: all 300ms linear;
    transition-delay: 0.1s;
}
.single-blog-style1:hover .img-holder .shape {
    width: 100%;
    transition: all 1500ms linear;
    transition-delay: 0.2s;
}
.single-blog-style1 .img-holder .shape img {
    width: auto;
    transform: none;
}

.single-blog-style1 .text-holder {
    position: relative;
    display: block;
    padding: 22px 0px 0px;
}
.single-blog-style1 .text-holder .blog-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    text-transform: none;
}
.single-blog-style1 .text-holder .blog-title a{
    color: var(--thm-black);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.single-blog-style1 .text-holder .blog-title a:hover{
    color: var(--thm-base);
}
.single-blog-style1 .text-holder .text {
    position: relative;
    display: block;
    padding-top: 18px;
    padding-bottom: 22px;
}
.single-blog-style1 .text-holder .text p {
    margin: 0;
}
.single-blog-style1 .text-holder .bottom-box{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.single-blog-style1 .text-holder .btns-box{
    position: relative;
    display: block;
    line-height: 0;
}
.single-blog-style1 .text-holder .btns-box a {
    font-size: 14px;
    line-height: 52px;
}
.single-blog-style1 .text-holder .btns-box a.btn-one .border_line {
    top: -17px;
    right: 2px;
}


.single-blog-style1 .text-holder .meta-box{
    position: relative;
    display: block;    
}
.single-blog-style1 .text-holder .meta-box .meta-info{
    overflow: hidden;
}
.single-blog-style1 .text-holder .meta-box .meta-info li {
    position: relative;
    display: block;
    float: left;
    color: var(--thm-gray);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border-right: 1px solid #e6e6e9;
    padding-right: 16px;
    margin-right: 15px;
    font-family: var(--thm-oswald-font);
}
.single-blog-style1 .text-holder .meta-box .meta-info li:last-child{
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}
.single-blog-style1 .text-holder .meta-box .meta-info li i {
    position: relative;
    display: inline-block;
    padding-right: 5px;
    color: var(--thm-gray);
}
.single-blog-style1 .text-holder .meta-box .meta-info li a {
    color: var(--thm-gray);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.single-blog-style1 .text-holder .meta-box .meta-info li a:hover{
    color: var(--thm-base);    
}





.single-blog-style1 .audio-gallery {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.single-blog-style1 .audio-gallery .img-box {
    position: relative;
    display: block;
    overflow: hidden;
    width: 170px;
}
.single-blog-style1 .audio-gallery .img-box img{
    width: 100%;
}
.single-blog-style1 .audio-gallery .audio-content{
    position: relative;
    display: block;
    padding-left: 10px;
}


.single-blog-style1 .blog-video-gallery {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.single-blog-style1 .blog-video-gallery .icon{
    text-align: center;
    margin: 0;
}



/*** 
=============================================
    Blog Page One Css
=============================================
***/
.blog-page-one {
    position: relative;
    display: block;
    background: #f3f3f4;
    padding: 120px 0 120px;
    z-index: 1;
}
.blog-page-one_content{
    position: relative;
    display: block;
    padding-right: 100px;
}
.blog-page-one .styled-pagination{
    padding-top: 10px;
    margin-left: -2px;
}



/*** 
=============================================
    Blog Page Two Css
=============================================
***/
.blog-page-two {
    position: relative;
    display: block;
    background: #f3f3f4;
    padding: 120px 0 120px;
    z-index: 1;
}
.blog-page-two .styled-pagination{
    padding-top: 10px;
    margin-left: -2px;
}









/*** 
=============================================
    Blog Details Area Css
=============================================
***/
.blog-details-area{
    position: relative;
    display: block;
    background: #f3f3f4;
    padding: 120px 0 120px;
    z-index: 1;
}
.blog-details-content{
    position: relative;
    display: block;
}
.blog-details-content .single-blog-style1{
    margin-bottom: 20px;
}
.blog-details-content .single-blog-style1 .img-holder img {
    filter: grayscale(0%);
}
.blog-details-content .single-blog-style1:hover .img-holder img{
    transform: none;
}
.blog-details-content .single-blog-style1 .text-holder .meta-box {
    padding: 25px 0 5px;
}

.blog-details-content .single-blog-style1 .text-holder .text p.martop15{
    margin-top: 15px;
}
.blog-details-content .single-blog-style1 .text-holder .meta-box .meta-info li{
    border-right: 1px solid #1f2026;
}
.blog-details-content .single-blog-style1 .text-holder .meta-box .meta-info li:last-child{
    border-right: none;
}
.blog-details-text-1{
    position: relative;
    display: block;
    border-top: 5px solid var(--thm-base);
    border-left: 10px solid var(--thm-base);
    border-bottom: 5px solid var(--thm-base);
    border-right: 5px solid var(--thm-base);
    border-radius: 5px;
    padding: 15px 40px 25px;
}
.blog-details-text-1 h4{
    color: var(--thm-black);
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
}
.blog-details-text-2{
    position: relative;
    display: block;
    margin-top: 42px;
    margin-bottom: 42px;
}
.blog-details-text-2 p{
    margin: 0;
}
.blog-details-content .blog-details-video-gallery{
    position: relative;
    display: block;
    overflow: hidden;
}
.blog-details-content .blog-details-video-gallery .shape {
    position: absolute;
    left: -165px;
    bottom: -60px;
}
.blog-details-content .blog-details-video-gallery img{}
.blog-details-content .blog-details-video-gallery .icon {
    position: absolute;
    display: block;
    margin-top: 0px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.blog-details-content .blog-details-video-gallery .icon a{
    text-align: center;
}
.blog-details-text-3{
    position: relative;
    display: block;
    margin-top: 42px;
    margin-bottom: 42px;
}
.blog-details-text-3 p{
    margin: 0;
}



.post-tag-box{
    position: relative;
    display: block;
}
.post-tag-box .title{
    position: absolute;
    top: 0;
    left: 0;
}
.post-tag-box .title h6{
    color: var(--thm-black);
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
}
.post-tag-box .tag-box{
    position: relative;
    display: block;
    padding-left: 55px;
}
.post-tag-box .tag-box ul{
    position: relative;
    display: block;
    overflow: hidden;
}
.post-tag-box .tag-box ul li{
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.post-tag-box .tag-box ul li:last-child{
    margin-right: 0;
}
.post-tag-box .tag-box ul li a{
    position: relative;
    display: inline-block;
    background: #ffffff;
    border: 1px solid #eceaec;
    padding: 0 14px;
    color: #777777;
    font-size: 13px;
    line-height: 28px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 5px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.post-tag-box .tag-box ul li a:hover{
    color: #ffffff;
    background-color: var(--thm-base);
}







