



/***
=============================================
    Contact Form Area Css
=============================================
***/
.contact-style1-area {
    position: relative;
    display: block;
    background: #f3f3f4;
    padding: 0px 0 120px;
    z-index: 10;
}

.contact-style1_inner-box {
    position: relative;
    display: flex;
    align-items: flex-start;
    background: #ffffff;
    margin-top: -120px;
    z-index: 10;
}

.contact-style1_form {
    position: relative;
    display: block;
    max-width: 800px;
    width: 100%;
    padding: 63px 30px 70px;
    padding-right: 60px;
}
.contact-style1_form .top-title{
    position: relative;
    display: block;
    padding-bottom: 36px;
}
.contact-style1_form .top-title h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.contact-style1_form .top-title p{
    margin: 0;
}


.contact-form {
    position: relative;
    display: block;
}
.contact-form form{
    position: relative;
    display: block;
}
.contact-form form .input-box{
    position: relative;
    display: block;
    margin-bottom: 24px;
}
.contact-form form .input-box label{
    color: var(--thm-white);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: var(--thm-oswald-font);
    text-transform: uppercase;
    margin-bottom: 14px;
}
.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea{
    position: relative;
    display: block;   
    background: #ffffff;
    width: 100%;
    height: 65px;
    border: 1px solid #ededed;
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    transition: all 500ms ease;
    outline: none;
}
.contact-form form textarea {
    height: 120px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.contact-form form input[type="text"]::-webkit-input-placeholder {
    color: #777777;
}
.contact-form form input[type="text"]:-moz-placeholder {
    color: #777777;
}
.contact-form form input[type="text"]::-moz-placeholder {
    color: #777777;
}
.contact-form form input[type="text"]:-ms-input-placeholder {
    color: #777777;
}
.contact-form form input[type="email"]::-webkit-input-placeholder {
    color: #777777;
}
.contact-form form input[type="email"]:-moz-placeholder {
    color: #777777;
}
.contact-form form input[type="email"]::-moz-placeholder {
    color: #777777;
}
.contact-form form input[type="email"]:-ms-input-placeholder {
    color: #777777;
}
.contact-form form textarea::-webkit-input-placeholder {
    color: #777777;
}
.contact-form form textarea:-moz-placeholder {
    color: #777777;
}
.contact-form form textarea::-moz-placeholder {
    color: #777777;
}
.contact-form form textarea:-ms-input-placeholder {
    color: #777777;
}

.contact-form form .button-box {
    position: relative;
    padding-top: 25px;
}
.contact-form form .button-box button{
    position: relative;
    display: block;
}
.contact-form form .button-box button.btn-one {
    background: #ffffff;
}
.contact-form form .button-box button.btn-one {
    background: #ffffff;
}




.contact-info-sidebar {
    position: relative;
    display: block;
    background: var(--thm-base);
    padding: 67px 30px 37px;
    max-width: 370px;
    width: 100%;
    min-height: 802px;
    height: 100%;
}
.contact-info-sidebar ul{
    position: relative;
    display: block;
    overflow: hidden;
}
.contact-info-sidebar ul li {
    position: relative;
    display: block;
    margin-bottom: 65px;
}
.contact-info-sidebar ul li:last-child{
    margin-bottom: 0;
}
.contact-info-sidebar ul li .inner{
    position: relative;
    display: flex;
    align-items: center;
}
.contact-info-sidebar ul li .inner .inner_title{
    position: relative;
    display: block;
    width: 100px;
}
.contact-info-sidebar ul li .inner .inner_title h3{
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
}
.contact-info-sidebar ul li .inner .inner_text{
    position: relative;
    display: block;
}
.contact-info-sidebar ul li .inner .inner_text p{
    color: var(--thm-white);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-family: var(--thm-oswald-font);
    margin: 0;
}
.contact-info-sidebar ul li .inner .inner_text p a{
    color: var(--thm-white);
}
.contact-info-sidebar ul li .inner .inner_text p a.underline{
    text-decoration: underline;
}


.contact-info-sidebar ul li .inner .inner_text .social-link{
    position: relative;
    display: block;
    overflow: hidden;
}
.contact-info-sidebar ul li .inner .inner_text .social-link li{
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 40px;
}
.contact-info-sidebar ul li .inner .inner_text .social-link li:last-child{
    margin-right: 0;
}
.contact-info-sidebar ul li .inner .inner_text .social-link li a{
    color: #ffffff;
    font-size: 15px;
}
.contact-info-sidebar ul li .inner .inner_text .social-link li a i::before{}




/*** 
=============================================
    Google Map Area Css
=============================================
***/
.google-map-area{
    position: relative;
    display: block;
}
.google-map-area .container-fluid{
    padding: 0;
}
.contact-page-map-outer{
    position: relative;
    display: block;
    z-index: 10;
}
.contact-page-map-outer .map-canvas{
	position: relative;
	width: 100%;
	height: 1070px;    
}









