/*** 

====================================================================
		Testimonial Section
====================================================================

***/
.large-container {
  position: static;
  max-width: 1580px;
  padding: 0px 30px;
  margin: 0 auto;
}

.testimonial-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 210px;
  overflow: hidden;
}

.testimonial-section:before {
  position: absolute;
  left: -200px;
  top: 22%;
  background-image: url(../images/testimonial/ring-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 701px;
  height: 756px;
  content: "";
  -webkit-animation: fa-spin 25s infinite alternate;
  animation: fa-spin 25s infinite alternate;
}

.testimonial-section .sec-title {
  position: relative;
  margin-bottom: 115px;
}

.testimonial-section .sec-title .title {
  margin-bottom: 20px;
}

.testimonial-section .testimonial-carousel {
  position: relative;
  max-width: 1100px;
  margin: 0 -50px;
}

.testimonial-block {
  position: relative;
  padding: 50px;
}

.testimonial-block .inner-box {
  padding: 80px 105px;
  background-color: #ffffff;
  box-shadow: 0 0 50px rgba(226, 222, 232, 0.75);
}

.testimonial-block .text {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 32px;
  color: #282331;
  font-weight: 400;
  margin-bottom: 50px;
  font-family: "Muli", sans-serif;
}

.testimonial-block .info-box {
  position: relative;
  padding-left: 115px;
  padding-top: 10px;
}

.testimonial-block .info-box .thumb {
  position: absolute;
  left: 0;
  top: 0;
  height: 82px;
  width: 82px;
}

.testimonial-block .info-box .thumb img {
  border: 6px solid #e5e6fa;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  width: 100%;
  box-shadow: 0 45px 45px rgba(147, 147, 147, 0.35);
}

.testimonial-block .info-box .name {
  position: relative;
  display: block;
  font-size: 21px;
  line-height: 1.2em;
  color: #382c4d;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Niramit", sans-serif;
}

.testimonial-block .info-box .designation {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #8053f7;
  font-weight: 400;
  font-family: "Muli", sans-serif;
}

.testimonial-carousel {
  position: absolute;
  right: 75px;
  bottom: 70px;
}

.testimonial-carousel .testimonial-carousel {
  position: relative;
  display: inline-block;
  height: 75px;
  width: 75px;
  line-height: 75px;
  text-align: center;
  border-radius: 50%;
  transition: all 300ms ease;
}

.arrow-right,
.arrow-left {
  position: relative;
  display: inline-block;
  height: 9px;
  width: 43px;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-right {
  /* to do code */
}

.testimonial-section .thumb-layer {
  position: absolute;
  right: 30px;
  top: 120px;
}

.testimonial-section .thumb-layer .image {
  position: relative;
  margin-right: 0;
}

.testimonial-section .thumb-layer .image img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}


@media (max-width: 1775px) {
  .testimonial-section .testimonial-carousel {
    margin: 0;
  }

  .testimonial-carousel {
    right: 0px;
  }
}

@media (max-width: 767px) {
  .testimonial-block .inner-box {
    padding: 50px;
  }
}

@media (max-width: 576px) {
  .testimonial-block .inner-box {
    padding: 20px;
  }
}