/* Medium screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .services-one__top-left .section-title__title {
        font-size: 47px;
        line-height: 57px;
    }

    .welcome-one__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .welcome-one__right {
        max-width: 600px;
        margin: 180px auto 0;
    }

    .counter-one__box-one,
    .counter-one__box-two {
        display: none;
    }

    .why-choose-one__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .why-choose-one__right {
        max-width: 600px;
        margin: 180px auto 0;
    }

    .why-choose-one {
        padding: 120px 0 0px;
    }

    .cta-one__inner {
        padding: 92px 30px;
    }

    .cta-one__box-1,
    .cta-one__box-2 {
        display: none;
    }

    .best-agency__left {
        margin-right: 0;
    }

    .best-agency__points li {
        padding-left: 20px;
        padding-right: 20px;
    }

    .best-agency__experience-text {
        font-size: 17px;
    }

    .blog-content {
        padding: 49px 20px 36px;
    }

    .footer-widget__links-list-two {
        margin-left: 50px;
    }

    .footer-widget__newsletter {
        margin-left: 0;
        padding: 43px 14px 41px;
    }

    .welcome-two__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .welcome-two__right {
        max-width: 600px;
        margin: 166px auto 0;
    }

    .company-numbers__title {
        font-size: 45px;
        line-height: 57px;
    }

    .company-numbers__title span:before {
        top: 28px;
    }

    .services-two__single {
        padding: 0 0px 0;
    }

    .two-boxes__single {
        padding: 71px 50px 70px;
    }

    .project-two__top {
        text-align: center;
    }

    .project-two__left .section-title {
        margin-bottom: 32px;
    }

    .testimonial-two__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .testimonial-two__right {
        max-width: 600px;
        margin: 180px auto 0;
    }

    .testimonial-two {
        padding: 240px 0 120px;
    }

    .cta-two__box-1,
    .cta-two__box-2 {
        display: none;
    }

    .services-three__single {
        padding: 60px 48px 45px;
    }

    .welcome-three__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .welcome-three__right {
        max-width: 600px;
        margin: 60px auto 0;
    }

    .every-stage__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .every-stage__right {
        max-width: 600px;
        margin: 38px auto 0;
    }

    .we-build__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .we-build__right {
        max-width: 600px;
        margin: 180px auto 0;
    }

    .we-build__box-1,
    .we-build__box-2 {
        display: none;
    }

    .we-build {
        padding: 0 0 112px;
    }

    .about-page__left {
        max-width: 600px;
        margin: 0 auto 50px;
    }

    .about-page__right {
        max-width: 600px;
        margin: 0 auto;
    }

    .about-page-testimonial-two .testimonial-two__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .about-page-testimonial-two .testimonial-two__right {
        max-width: 600px;
        margin: 180px auto 0;
    }

    .service-details__points li+li {
        margin-left: 0;
        margin-top: 30px;
    }

    .service-details__benefits-img {
        margin-top: 50px;
    }

    .similar-work .project-one__hover {
        padding: 31px 25px 29px;
    }

    .similar-work .project-one__tagline:before {
        left: -40px;
    }

    .blog-details__pagenation li+li {
        margin-left: 0;
        margin-top: 30px;
    }

    .location__text {
        font-size: 15px;
    }










}

















/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services-one__top-right {
        margin-top: 0;
        margin-bottom: 48px;
    }

    .services-one__top-left .section-title {
        margin-bottom: 36px;
    }

    .welcome-one__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .welcome-one__right {
        max-width: 600px;
        margin: 180px auto 0;
    }

    .welcome-one-shape {
        z-index: -1;
    }

    .design-studio__title br {
        display: none;
    }

    .design-studio__title {
        font-size: 65px;
    }

    .counter-one__single {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 24px;
    }

    .counter-one__single:nth-child(3) {
        margin-bottom: 0;
    }

    .counter-one__single:nth-child(4) {
        margin-bottom: 0;
    }

    .counter-one__single:nth-child(3):before {
        display: none;
    }

    .counter-one__box-one,
    .counter-one__box-two {
        display: none;
    }

    .why-choose-one__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .why-choose-one__right {
        max-width: 600px;
        margin: 180px auto 0;
    }

    .why-choose-one {
        padding: 120px 0 0px;
    }

    .cta-one__inner {
        padding: 92px 50px;
        flex-direction: column;
        text-align: center;
    }

    .cta-one__right {
        margin-top: 25px;
    }

    .cta-one__box-1,
    .cta-one__box-2 {
        display: none;
    }

    .best-agency__left {
        margin-right: 0;
        margin-bottom: 60px;
    }

    .footer-widget__newsletter {
        margin-left: 0;
    }

    .footer-widget__links {
        margin-top: 31px;
        margin-bottom: 31px;
    }

    .feature-one__single {
        width: 50%;
        margin-bottom: 20px;
    }

    .feature-one__single:nth-child(3) {
        margin-bottom: 0;
    }

    .feature-one__single:nth-child(3):before {
        display: none;
    }

    .feature-one__single:nth-child(4) {
        margin-bottom: 0;
    }

    .welcome-two__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .welcome-two__right {
        max-width: 600px;
        margin: 166px auto 0;
    }

    .welcome-two .section-title__title br {
        display: none;
    }

    .welcome-two__big-text {
        display: none;
    }

    .company-numbers__right {
        position: relative;
        margin-left: 0;
        margin-top: 43px;
    }

    .company-numbers__inner {
        padding: 120px 0 120px;
    }

    .services-two__single {
        width: 50%;
    }

    .services-two__single:nth-child(3):before {
        display: none;
    }

    .project-two__top {
        text-align: center;
    }

    .project-two__left .section-title {
        margin-bottom: 32px;
    }

    .project-two__work .project-one__hover {
        padding: 31px 25px 29px;
    }

    .project-two__work .project-one__title {
        font-size: 17px;
        line-height: 27px;
    }

    .project-two__work .project-one__tagline:before {
        left: -35px;
    }

    .how-it-works__process-single {
        width: 50%;
        margin-bottom: 21px;
    }

    .how-it-works__process-single:nth-child(3) {
        margin-bottom: 0;
    }

    .how-it-works__process-single:nth-child(4) {
        margin-bottom: 0;
    }

    .how-it-works__process:before {
        display: none;
    }

    .testimonial-two__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .testimonial-two__right {
        max-width: 600px;
        margin: 180px auto 0;
    }

    .testimonial-two {
        padding: 240px 0 120px;
    }

    .cta-two__box-1,
    .cta-two__box-2 {
        display: none;
    }

    .cta-two__inner {
        flex-direction: column;
        text-align: center;
    }

    .cta-two__right {
        margin-top: 25px;
    }

    .welcome-three__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .welcome-three__right {
        max-width: 600px;
        margin: 60px auto 0;
    }

    .every-stage__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .every-stage__right {
        max-width: 600px;
        margin: 38px auto 0;
    }

    .project-one__hover {
        padding: 31px 45px 29px;
    }

    .we-build__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .we-build__right {
        max-width: 600px;
        margin: 180px auto 0;
    }

    .we-build__box-1,
    .we-build__box-2 {
        display: none;
    }

    .we-build {
        padding: 0 0 112px;
    }

    .we-can__title br {
        display: none;
    }

    .about-page__left {
        max-width: 600px;
        margin: 0 auto 50px;
    }

    .about-page__right {
        max-width: 600px;
        margin: 0 auto;
    }

    .about-page-testimonial-two .testimonial-two__left {
        max-width: 600px;
        margin: 0 auto;
    }

    .about-page-testimonial-two .testimonial-two__right {
        max-width: 600px;
        margin: 180px auto 0;
    }

    .service-details__sidebar {
        margin-bottom: 60px;
    }

    .service-details__points li+li {
        margin-left: 0;
        margin-top: 30px;
    }

    .service-details__benefits-img {
        margin-top: 50px;
    }

    .project-details__content-left {
        margin-bottom: 50px;
    }

    .blog-details__pagenation li+li {
        margin-left: 0;
        margin-top: 30px;
    }






















}






/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .section-title__title {
        font-size: 30px;
        line-height: 40px;
    }

    .services-one__top-right {
        margin-top: 0;
        margin-bottom: 48px;
    }

    .services-one__top-left .section-title {
        margin-bottom: 36px;
    }

    .welcome-one-shape {
        z-index: -1;
    }

    .welcome-one__left {
        margin-right: 0;
    }

    .welcome-one__left:before {
        display: none;
    }

    .welcome-one__experience {
        display: none;
    }

    .welcome-one__right {
        margin-top: 60px;
    }

    .welcome-one__bottom-right {
        margin-left: 0;
        margin-top: 30px;
    }

    .welcome-one__img-box:before {
        display: none;
    }

    .design-studio__title br {
        display: none;
    }

    .design-studio__title {
        font-size: 28px;
        line-height: 43px;
    }

    .counter-one__single {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 24px;
    }

    .counter-one__single:before {
        display: none;
    }

    .counter-one__single:nth-child(4) {
        margin-bottom: 0;
    }

    .we-care__inner {
        flex-direction: column;
        padding: 60px 0 47px;
    }

    .we-care__content {
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
    }

    .counter-one__box-one,
    .counter-one__box-two {
        display: none;
    }

    .project-one__hover {
        padding: 31px 25px 29px;
    }

    .project-one__tagline:before {
        left: -35px;
    }

    .why-choose-one__left {
        margin-left: 0;
    }

    .why-choose-one__left:before {
        display: none;
    }

    .why-choose-one-box-1,
    .why-choose-one-box-2,
    .why-choose-one-box-3 {
        display: none;
    }

    .why-choose-one__right {
        margin-left: 0;
        margin-top: 60px;
    }

    .why-choose-one__content {
        flex-direction: column;
        align-items: inherit;
    }

    .why-choose-one__content-list {
        margin-left: 0;
        margin-top: 25px;
    }

    .why-choose-one {
        padding: 0 0 0;
    }

    .testimonial-one__content {
        padding: 48px 25px 76px;
    }

    .cta-one__inner {
        padding: 92px 20px;
        flex-direction: column;
        text-align: center;
    }

    .cta-one__right {
        margin-top: 25px;
    }

    .cta-one__left {
        flex-direction: column;
    }

    .cta-one__title-box {
        margin-left: 0;
        margin-top: 33px;
    }

    .cta-one__title br {
        display: none;
    }

    .cta-one__box-1,
    .cta-one__box-2 {
        display: none;
    }

    .best-agency__left {
        margin-right: 0;
        margin-bottom: 60px;
    }

    .best-agency__points {
        flex-direction: column;
        align-items: inherit;
    }

    .best-agency__points li+li {
        margin-left: 0;
        margin-top: 20px;
    }

    .faq-one-accrodion .accrodion-title h4::before {
        right: -15px;
    }

    .blog-content {
        padding: 49px 20px 36px;
    }

    .blog-one .section-title__title {
        font-size: 29px;
    }

    .footer-widget__newsletter {
        margin-left: 0;
    }

    .footer-widget__links {
        margin-top: 31px;
        margin-bottom: 31px;
    }

    .footer-widget__links-list-two {
        /*margin-left: 50px;*/
    }

    .footer-widget__newsletter {
        margin-left: 0;
        padding: 43px 14px 41px;
    }

    .site-footer__top-inner {
        flex-direction: column;
        text-align: center;
    }

    .site-footer__top-right-social {
        margin-top: 20px;
    }

    .feature-one__single {
        width: 100%;
        margin-bottom: 30px;
        float: none;
    }

    .feature-one__single:before {
        display: none;
    }

    .feature-one__single:nth-child(4) {
        margin-bottom: 0;
    }

    .welcome-two .section-title__title br {
        display: none;
    }

    .welcome-two__big-text {
        display: none;
    }

    .welcome-two__left {
        margin-right: 0;
    }

    .welcome-two__small-img {
        display: none;
    }

    .welcome-two__right {
        margin-left: 0;
        margin-top: 50px;
    }

    .company-numbers__right {
        position: relative;
        margin-left: 0;
        margin-top: 43px;
    }

    .company-numbers__inner {
        padding: 120px 0 120px;
    }

    .company-numbers__title {
        font-size: 40px;
        line-height: 53px;
    }

    .company-numbers__title span:before {
        top: 28px;
    }

    .company-numbers__counter li {
        float: none;
    }

    .company-numbers__counter li+li {
        margin-left: 0;
        margin-top: 10px;
    }

    .services-two__single {
        width: 100%;
    }

    .services-two__single:before {
        display: none;
    }

    .two-boxes__single {
        padding: 71px 20px 70px;
    }

    .project-two__top {
        text-align: center;
    }

    .project-two__left .section-title {
        margin-bottom: 32px;
    }

    .project-two__work .project-one__hover {
        padding: 31px 25px 29px;
    }

    .project-two__work .project-one__title {
        font-size: 17px;
        line-height: 27px;
    }

    .project-two__work .project-one__tagline:before {
        left: -35px;
    }

    .project-two__work-inner {
        max-width: inherit;
        padding: 0 30px;
    }

    .how-it-works__process-single {
        width: 100%;
        margin-bottom: 21px;
    }

    .how-it-works__process-single:nth-child(4) {
        margin-bottom: 0;
    }

    .how-it-works__process:before {
        display: none;
    }

    .testimonial-two__left {
        margin-left: 0;
    }

    .testimonial-two__left:before {
        display: none;
    }

    .testimonial-two__box-1,
    .testimonial-two__box-2 {
        display: none;
    }

    .testimonial-two__title {
        font-size: 40px;
        line-height: 50px;
    }

    .testimonial-two__title span:before {
        top: 22px;
    }

    .testimonial-two__right {
        margin-left: 0;
        margin-top: 60px;
    }

    .testimonial-two__carousel.owl-theme .owl-nav {
        display: none;
    }

    .testimonial-two {
        padding: 120px 0 120px;
    }

    .cta-two__box-1,
    .cta-two__box-2 {
        display: none;
    }

    .cta-two__inner {
        flex-direction: column;
        text-align: center;
    }

    .cta-two__left {
        align-items: center;
        flex-direction: column;
    }

    .cta-two__title-box {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cta-two__title br {
        display: none;
    }

    .services-three__single {
        padding: 60px 48px 45px;
    }

    .welcome-three__right {
        margin-left: 0;
        margin-top: 60px;
    }

    .welcome-three__small-img {
        display: none;
    }

    .welcome-three__features-box {
        align-items: inherit;
        flex-direction: column;
    }

    .welcome-three__features-box li+li {
        margin-left: 0;
        margin-top: 30px;
    }

    .every-stage__left {
        margin-right: 0;
    }

    .every-stage__tab-box .tab-buttons {
        margin-bottom: 40px;
        text-align: center;
        margin-top: 41px;
    }

    .every-stage__tab-box .tab-buttons .tab-btn {
        display: block;
    }

    .every-stage__tab-box .tab-buttons .tab-btn+.tab-btn {
        margin-left: 0;
        margin-top: 20px;
    }

    .tab-content__bottom {
        flex-direction: column;
    }

    .tab-content__points-box {
        margin-left: 0;
        margin-top: 20px;
    }

    .we-build__box-1,
    .we-build__box-2 {
        display: none;
    }

    .we-build {
        padding: 0 0 112px;
    }

    .we-build__left {
        margin-right: 0;
        margin-left: 0;
    }

    .we-build__left:before {
        display: none;
    }

    .we-build__founded {
        display: none;
    }

    .we-build__right {
        margin-left: 0;
        margin-top: 60px;
    }

    .we-can__title br {
        display: none;
    }

    .we-can__title {
        font-size: 33px;
    }

    .about-page__badge {
        display: none;
    }

    .about-page__images li+li {
        margin-left: 0;
        margin-top: 10px;
    }

    .about-page__right {
        margin-left: 0;
        margin-top: 50px;
    }

    .about-page-testimonial-two .testimonial-two__left {
        margin-left: 0;
        margin-right: 0;
    }

    .about-page-testimonial-two .testimonial-two__right {
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
    }

    .about-page__right .section-title {
        margin-right: 0;
    }

    .testimonial-two-shape {
        display: none;
    }

    .error-page__title {
        font-size: 150px;
        line-height: 150px;
    }

    .error-page__title:before {
        top: 75px;
        left: -20px;
        right: -20px;
    }

    .error-page__tagline {
        font-size: 27px;
        line-height: 37px;
        margin-top: 0;
    }

    .service-details__points li+li {
        margin-left: 0;
        margin-top: 30px;
    }

    .service-details__benefits-img {
        margin-top: 50px;
    }

    .service-details__points li {
        padding-left: 60px;
        padding-right: 25px;
    }

    .service-details__points li h4 {
        font-size: 17px;
    }

    .service-details__points-count {
        left: 20px;
    }

    .service-details__need-help {
        padding: 50px 30px 39px;
    }

    .service-details__sidebar {
        margin-bottom: 60px;
    }

    .project-details__content-left {
        margin-bottom: 50px;
    }

    .blog-sidebar__bottom-box {
        padding: 50px 20px 50px;
    }

    .blog-sidebar__delivering-services {
        padding: 60px 20px 50px;
    }

    .sidebar__post {
        padding: 48px 20px 30px;
    }

    .sidebar__category {
        padding: 47px 20px 36px;
    }

    .sidebar__tags {
        padding: 47px 15px 50px;
    }

    .sidebar__comments {
        padding: 47px 20px 43px;
    }

    .blog-details__bottom {
        flex-direction: column;
    }

    .blog-details__tags a {
        padding: 3px 15px;
    }

    .blog-details__social-list {
        margin-top: 20px;
    }

    .blog-details__pagenation li+li {
        margin-left: 0px;
        margin-top: 30px;
    }

    .blog-details__pagenation li {
        font-size: 20px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .comment-one__single {
        flex-direction: column;
    }

    .comment-one__content {
        margin-left: 0;
        margin-top: 25px;
    }

    .comment-one__btn {
        position: relative;
        top: 20px;
    }









}













@media only screen and (min-width: 1200px) and (max-width: 1515px) {
    .project-two__work .project-one__hover {
        padding: 31px 25px 29px;
    }

    .project-two__work .project-one__title {
        font-size: 17px;
        line-height: 27px;
    }

    .project-two__work .project-one__tagline:before {
        left: -35px;
    }



}

@media only screen and (min-width: 1200px) and (max-width: 1435px) {

    .cta-two__box-1,
    .cta-two__box-2 {
        display: none;
    }


}


@media only screen and (min-width: 1200px) and (max-width: 1217px) {
    .about-page__left {
        margin-right: -30px;
    }

    .about-page__right {
        margin-left: 50px;
    }




}

@media only screen and (min-width: 1200px) and (max-width: 1330px) {
    .about-page-testimonial-two .testimonial-two__right {
        margin-left: 0;
        margin-right: 0;
    }

    .about-page-testimonial-two .testimonial-two__left {
        margin-left: -205px;
        margin-right: 0;
    }



}














/*--------------------------------------------------------------
# Slider All Responsice Css
--------------------------------------------------------------*/
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .main-slider-two .main-slider__social {
        display: none;
    }


}



@media only screen and (min-width: 1200px) and (max-width: 1475px) {
    .main-slider-two__content {
        margin-left: 0;
    }

    .main-slider-two__img {
        top: -60px;
        right: -781px;
    }

    .main-slider-two__img img {
        width: 70%;
    }

    .main-slider-two__name-box {
        bottom: 33px;
        right: 595px;
    }

    .main-slider-three .main-slider__social {
        display: none;
    }


}



@media only screen and (min-width: 1200px) and (max-width: 1640px) {
    .main-slider-three__img-1 {
        right: -148px;
    }

    .main-slider-three__img-1 img {
        width: 80%;
    }

    .main-slider-three__img-2 {
        right: -221px;
    }

    .main-slider-three__img-2 img {
        width: 70%;
    }

}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-slider-badge {
        display: none;
    }

    .main-slider__social {
        display: none;
    }

    .main-slider-two__content {
        margin-left: 0;
    }

    .main-slider-two__content h2 {
        font-size: 75px;
        line-height: 75px;
    }

    .main-slider-two__img {
        top: -60px;
        right: -760px;
    }

    .main-slider-two__img img {
        width: 55%;
    }

    .main-slider-two__name-box {
        bottom: 33px;
        right: 644px;
    }

    .main-slider-two__badge {
        top: 0;
        right: -146px;
    }

    .main-slider-three__img-1,
    .main-slider-three__img-2 {
        display: none;
    }

    .slider-bottom-box {
        max-width: 960px;
    }





}






@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-slider-badge {
        display: none;
    }

    .main-slider__social {
        display: none;
    }

    .main-slider .main-slider__title-box-1 h2 {
        font-size: 140px;
        line-height: 114px;
    }

    .main-slider .main-slider__title-box-2 h2 {
        font-size: 140px;
        line-height: 114px;
    }

    .main-slider .container {
        padding-top: 254px;
    }

    .main-slider-two__content {
        margin-left: 0;
    }

    .main-slider-two__content h2 {
        font-size: 75px;
        line-height: 75px;
    }

    .main-slider-two__img {
        display: none;
    }

    .main-slider-two__badge {
        display: none;
    }

    .main-slider-three__img-1,
    .main-slider-three__img-2 {
        display: none;
    }

    .slider-bottom-box {
        max-width: 720px;
    }











}



@media only screen and (max-width: 767px) {
    .main-slider-badge {
        display: none;
    }

    .main-slider__social {
        display: none;
    }

    .main-slider .main-slider__title-box-1 h2 {
        font-size: 60px;
        line-height: 56px;
    }

    .main-slider .main-slider__title-box-1 h2 br {
        display: none;
    }

    .main-slider .main-slider__title-box-2 h2 {
        font-size: 63px;
        line-height: 56px;
    }

    .main-slider .main-slider__title-box-2 h2 br {
        display: none;
    }

    .main-slider .main-slider__title-box-2 {
        left: -23px;
    }

    .main-slider__nav {
        display: none;
    }

    .main-slider .container {
        padding-top: 252px;
        padding-bottom: 145px;
    }

    .main-slider-two__content {
        margin-left: 0;
    }

    .main-slider-two__content h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .main-slider-two__content h2 br {
        display: none;
    }

    .main-slider-two__img {
        display: none;
    }

    .main-slider-two__badge {
        display: none;
    }

    .main-slider-two__btn-video {
        align-items: inherit;
        flex-direction: column;
    }

    .main-slider-two__video {
        margin-left: 0;
        margin-top: 30px;
    }

    .main-slider-three__img-1,
    .main-slider-three__img-2 {
        display: none;
    }

    .main-slider-three__content h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .main-slider-three__content h2 br {
        display: none;
    }

    .main-slider-three__arrow {
        display: none;
    }

    .main-slider-three__content p br {
        display: none;
    }

    .slider-bottom-box {
        max-width: 540px;
    }











}







/*--------------------------------------------------------------
# Main Menu All Responsice Css
--------------------------------------------------------------*/


@media only screen and (min-width: 1200px) and (max-width: 1400px) {

    .main-menu-wrapper__call {
        margin-right: 10px;
       
    }



}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-menu-wrapper__main-menu {
        display: block;
        width: auto;
        margin-left: 50px;
    }

    .main-menu .mobile-nav__toggler {
        display: inline-block;
        padding: 37px 0;
    }

    .main-menu-two .mobile-nav__toggler:hover {
        color: var(--mibooz-black);
    }








}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-menu-wrapper__main-menu {
        display: block;
        width: auto;
        margin-left: 50px;
    }

    .main-menu .mobile-nav__toggler {
        display: inline-block;
        padding: 37px 0;
    }

    .main-menu-two .mobile-nav__toggler:hover {
        color: var(--mibooz-black);
    }






}




@media (max-width: 767px) {
    .main-menu-wrapper__right {
        display: none;
    }

    .main-menu-wrapper__main-menu {
        display: block;
        margin-left: auto;
    }

    .main-menu .mobile-nav__toggler {
        display: inline-block;
        padding: 37px 0;
    }

    .main-menu-two .mobile-nav__toggler:hover {
        color: var(--mibooz-black);
    }


    .main-menu {
        position: relative;
        padding: 0 30px;
        z-index: 91;
    }



}